  <div class="meetup-info">
    <br>
    <h1> <%= @meetup.name %></h1>
    Location:  <%= @meetup.location %>
    <br>
    Description: <%= @meetup.description %>
    <br>
    <br>
    <br>
  </div>

  <div class="UD-buttons">
      <% if user_signed_in? %>
      <% if current_user.id == @meetup.user.id %>
      <%= link_to 'Edit', edit_meetup_path(@meetup), class: "button" %>
      <%= link_to 'Delete', @meetup, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>

      <% end %>
      <% end %>
  </div>
