<!-- <div class="">
  <div class="">

    <h1>  <%= @meetup.name %></h1>
    <%= @meetup.location %>
    <br>
  </div>
  <div class="">

    Description: <%= @meetup.description %>
  </div>
Attendees:
</div> -->

<div class="header">
  <div class="header-buttons">
    <% if user_signed_in? %>
      <% if current_user.id == @meetup.user_id %>
      <%= link_to 'Edit', edit_meetup_path(@meetup), class: "button" %>
      <%= link_to 'Delete', @meetup, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
      <% end %>
    <% end %>
  </div>
    <%= image_tag @meetup_photo, class: "meetup_photo" %>
  </div>
    <h1 class="meetup_title"><%= @meetup.name %></h1>
</div>
