<h3><%= @user.first_name %>'s Dogs:</h3>
<% @user.dogs.each do |dog| %>
<%= dog.dog_name %>
<%=  %>


<div class="dog-prof-boxes">
  <div class="disp-inline">
    <h2> <%= "#{@dog_name}" %> </h2>
  </div>
</div>
<% end %>

<h2>Add your dog!</h2>
<%= render 'form' %>
