<%= image_tag @user_photo, class: "profile_photo" %>
<div class="dog-list">

  <h2><%= @user.first_name %>'s Dogs:</h2>
  <% @user.dogs.each do |dog| %>
  <ul><%= dog.dog_name %></ul>
  <ul>

      <%= dog.temperment %>
      Sex:
          <%= dog.sex %>
        Age:<%= dog.age %>
        </ul>
      </div>
      <div class="dog-prof-boxes">
        <div class="disp-inline">
          <h2> <%= "#{@dog_name}" %> </h2>
        </div>
      </div>
      <% end %>
      <% if @dog.nil? %>
      Add your dog!
      <% else %>
      <h5>Have more dogs? Add them!</h5>
      <% end %>
      <%= render 'form' %>
