<div id="map">

  <div class="map">
    <script>
    <% if current_user != nil %>
    var username = '<%= current_user.name %>';

    <% else %>
    var username = ''
    <% end %>

    var images_url = '<%= request.protocol + request.host_with_port %>/images/'

    </script>
    <% if ( controller_name == "meetups" &&
      ( controller.action_name == "new" ||
      controller.action_name == "edit" ))  %>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_PLACES_API_KEY'] + "&libraries=places&callback=newEditMeetupMap" %>
      <% else %>
      <% if @meetups %>
      <script>
      var meetup_array = []
      var idx = 0<% @meetups.each do |meetup| %>
      meetup_array[idx++] = {name: "<%= meetup.name.gsub(/\r\n/,' ').gsub(/\n/,' ') %>", location: "<%= meetup.location %>",
      description: "<%= meetup.description.gsub(/\r\n/,' ').gsub(/\n/,' ') %>",
      <% if current_user != nil %>
      edit: '<%= link_to "Edit", edit_meetup_path(meetup) %>',
      delete: '<%= link_to "Delete", meetup, method: :delete, data: { confirm: "Are you sure?" } %>' };
      <% else %>
      edit: '',
      delete: ''};
      <% end %>
      <% end %>
      </script>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_PLACES_API_KEY'] + "&callback=listMeetupsMap" %>
      <% end %>
      <% end %>
    </div>
  </div>
