
<html>
<head
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= content_for?(:title) ? yield(:title) : "WagMe" %></title>
<%= stylesheet_link_tag    'application' %>
<%= javascript_include_tag 'application' %>

<%= csrf_meta_tags %>

</head>
<body>
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <a href="/meetups">All meetups</a>
        <li><%= link_to "Profile", current_user %></li>


      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">

        <% if user_signed_in? %>
        <li class="text"><%= image_tag current_user.avatar, class: 'avatar' %></li>
        <li>
          <%= link_to "#{current_user.name}", edit_user_registration_path(@user)%>
        </li>

        <%= link_to 'Sign Out', destroy_user_session_path, class: 'button', method: 'delete' %>
      </li>
      <% else %>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button', method: 'get' %>
      </li>
      <li>
        <%= link_to 'Sign In', new_user_session_path, class: 'button', method: 'get' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="columns content">
    <%= yield %>
  </div>
</div>

<% if Rails.env.test? %>
<%= hidden_field_tag :testing, true  %>
<% end %>
</body>
</html>
