<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <title><%= content_for?(:title) ? yield(:title) : "WagMe" %></title>
</head>

<body>
  <%= render "layouts/navigation" %></div>
  <div class="row">
    <div class="small-3 columns" >
      <%= yield %>
    </div>
    <div class="small-9 columns" id="map" height: 600px >
      <p>The map should be here</p>
      <%= render "layouts/map" %>
    </div>
  </div>
</body>
</html>
